.category-list-item {
  margin-left: -25px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.select2-selection__rendered {
  position: relative;
  top: 3px;
}
.main-header .logo {
  width: 300px;
}
.main-header .navbar-static-top {
  margin-left: 300px;
}
.main-sidebar {
  width: 300px;
}
.content-wrapper {
  margin-left: 300px;
}
.content-wrapper section.content .article-content {
  padding-top: 25px;
}
footer.main-footer {
  margin-left: 300px;
}
