side-menu-width = 300px

@import "../css/api/_colors"

.category-list-item
  margin-left: -25px
  margin-bottom: 5px
  margin-top: 5px

.select2-selection__rendered
  position relative
  top 3px

.main-header
  .logo
    width side-menu-width
  .navbar-static-top
    margin-left: side-menu-width

.main-sidebar
  width side-menu-width

.content-wrapper
  margin-left side-menu-width
  section.content
    .article-content
      padding-top 25px

footer.main-footer
  margin-left side-menu-width
